<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM App</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<nav>
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contacts">View Contacts</a></li>
			<li><a href="/contacts/new_contact">Add New Contact</a></li>
		</ul>
	</nav>

	<%= yield %>

	<footer>Copyright &copy; 2015 - Lauran Jansen</footer>
</body>
</html>