<body>
	<header>
		<h1>New Contact</h1>
	</header>
	<main>
		<form action="/contacts" method="post">
			<fieldset>
				<legend>Contact Details</legend>
				<p><label for="First Name">First Name:</label><input type="text" name="first_name" class="textbox"></p>
				<p><label for="Last Name">Last Name:</label><input type="text" name="last_name" class="textbox"></p>
				<p><label for="Email">Email:</label><input type="text" name="email" class="textbox"></p>
				<p><label for="Note">Note:</label><input type="text" name="note" class="textbox"></p>
			</fieldset>	
			<input class="button" type="submit">
		</form>
	</main>
</body>